data/
images_dl/
*.jpg
Qwen1.5-1.8B-Chat/
Qwen1.5-4B-Chat/
show_model/
show_model_v1/
openai/
output_model_user_lora_show/runs/
*.log
*.bin
*.pt
*.pth
*.txt
*.pyc
*.safetensors
**/output_model_user_lora_show/

analyze_llava/
onevision/llava_onevision/
onevision/llava_onevision_1/
onevision/drive-action/
onevision/drive_action_output/
onevision/output_drive_action_onevision_v1/